In [2]:
#Imported Python libraries

import pandas as pd
import numpy as np
import matplotlib as mpl
import seaborn as sns
import yfinance as yf 
from datetime import date, timedelta

In [3]:
#Specify the date range.
end_date = date.today()
start_date=end_date - timedelta(days=5*365) # 5 years ago

In [4]:
TICKER_LIST = [
    'AAPL', 'MSFT', 'NVDA', 'TSLA', 'XOM', 
    'JPM', 'BTC-USD', '^GSPC', '^IXIC', 'GLD'
]                                                       #list of tickers to download

In [5]:
# Writing the Data Retrieval Function
from yfinance import tickers


def fetch_data(ticker_list,start_date,end_date):
    # Retrieves price data for the specified symbols.
    data= yf.download(
        tickers=ticker_list,
        start=start_date,
        end=end_date,
        interval="1d"
    )
    return data
financial_data= fetch_data(TICKER_LIST, start_date, end_date)

C:\Users\musta\AppData\Local\Temp\ipykernel_11848\3035674344.py:7: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data= yf.download(
[*********************100%***********************]  10 of 10 completed

In [6]:
# Metric filtering step.
close_prices= financial_data['Close']  # Extracting the 'Close' prices from the data
print(close_prices.head())  # Display the first few rows of the close prices

Ticker            AAPL       BTC-USD         GLD         JPM        MSFT  \
Date
2020-11-08         NaN  15479.567383         NaN         NaN         NaN
2020-11-09  113.341728  15332.315430  175.080002  102.670204  209.397888
2020-11-10  113.000687  15290.902344  175.660004  102.336464  202.321716
2020-11-11  116.430550  15701.339844  174.899994  100.808258  207.633652
2020-11-12  116.157745  16276.343750  175.960007   99.569908  206.569351

Ticker           NVDA        TSLA        XOM        ^GSPC         ^IXIC
Date
2020-11-08        NaN         NaN        NaN          NaN           NaN
2020-11-09  13.589267  140.419998  29.729980  3550.500000  11713.780273
2020-11-10  12.731138  136.786667  30.389557  3545.530029  11553.860352
2020-11-11  13.377164  139.043335  30.076258  3572.659912  11786.429688
2020-11-12  13.415795  137.253326  29.045681  3537.010010  11709.589844

In [7]:
close_prices.columns.name= None # Remove the name of the columns index for cleaner display
close_prices.columns.name= 'Date' # Set the index name as 'Date.'

close_prices.info() # Display information about the close prices DataFrame

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1824 entries, 2020-11-08 to 2025-11-06
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   AAPL     1254 non-null   float64
 1   BTC-USD  1823 non-null   float64
 2   GLD      1254 non-null   float64
 3   JPM      1254 non-null   float64
 4   MSFT     1254 non-null   float64
 5   NVDA     1254 non-null   float64
 6   TSLA     1254 non-null   float64
 7   XOM      1254 non-null   float64
 8   ^GSPC    1254 non-null   float64
 9   ^IXIC    1254 non-null   float64
dtypes: float64(10)
memory usage: 156.8 KB

In [8]:
close_prices.isnull() # Check for missing values in the close prices DataFrame

Date,AAPL,BTC-USD,GLD,JPM,MSFT,NVDA,TSLA,XOM,^GSPC,^IXIC
Date,,,,,,,,,,
2020-11-08,True,False,True,True,True,True,True,True,True,True
2020-11-09,False,False,False,False,False,False,False,False,False,False
2020-11-10,False,False,False,False,False,False,False,False,False,False
2020-11-11,False,False,False,False,False,False,False,False,False,False
2020-11-12,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
2025-11-01,True,False,True,True,True,True,True,True,True,True
2025-11-02,True,False,True,True,True,True,True,True,True,True
2025-11-03,False,False,False,False,False,False,False,False,False,False
2025-11-04,False,False,False,False,False,False,False,False,False,False
2025-11-06,False,True,False,False,False,False,False,False,False,False

In [10]:
close_prices.isnull().sum() # Count the number of missing values in each column of the close prices DataFrame

Date
AAPL       570
BTC-USD      1
GLD        570
JPM        570
MSFT       570
NVDA       570
TSLA       570
XOM        570
^GSPC      570
^IXIC      570
dtype: int64

In [13]:
close_prices.isnull().values.any() # Check if there are any missing values in the close prices DataFrame

np.True_

In [15]:
close_prices.dropna(inplace=True) # Drop rows with missing values
close_prices.dropna(axis=1) # Drop columns with missing values
close_prices.info() # Display information about the close prices DataFrame after handling missing values

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1253 entries, 2020-11-09 to 2025-11-04
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   AAPL     1253 non-null   float64
 1   BTC-USD  1253 non-null   float64
 2   GLD      1253 non-null   float64
 3   JPM      1253 non-null   float64
 4   MSFT     1253 non-null   float64
 5   NVDA     1253 non-null   float64
 6   TSLA     1253 non-null   float64
 7   XOM      1253 non-null   float64
 8   ^GSPC    1253 non-null   float64
 9   ^IXIC    1253 non-null   float64
dtypes: float64(10)
memory usage: 107.7 KB

C:\Users\musta\AppData\Local\Temp\ipykernel_11848\1729820979.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  close_prices.dropna(inplace=True) # Drop rows with missing values

In [17]:
df_filled= close_prices.fillna("Unknown") # Fill missing values with a specified value
df_filled.info() # Display information about the DataFrame after filling missing values
print(df_filled.head())  # Display the first few rows of the filled DataFrame

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1253 entries, 2020-11-09 to 2025-11-04
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   AAPL     1253 non-null   float64
 1   BTC-USD  1253 non-null   float64
 2   GLD      1253 non-null   float64
 3   JPM      1253 non-null   float64
 4   MSFT     1253 non-null   float64
 5   NVDA     1253 non-null   float64
 6   TSLA     1253 non-null   float64
 7   XOM      1253 non-null   float64
 8   ^GSPC    1253 non-null   float64
 9   ^IXIC    1253 non-null   float64
dtypes: float64(10)
memory usage: 107.7 KB
Date              AAPL       BTC-USD         GLD         JPM        MSFT  \
Date
2020-11-09  113.341728  15332.315430  175.080002  102.670204  209.397888
2020-11-10  113.000687  15290.902344  175.660004  102.336464  202.321716
2020-11-11  116.430550  15701.339844  174.899994  100.808258  207.633652
2020-11-12  116.157745  16276.343750  175.960007   99.569908  206.569351
2020-11-13  116.206467  16317.808594  177.160004  100.193474  207.595306

Date             NVDA        TSLA        XOM        ^GSPC         ^IXIC
Date
2020-11-09  13.589267  140.419998  29.729980  3550.500000  11713.780273
2020-11-10  12.731138  136.786667  30.389557  3545.530029  11553.860352
2020-11-11  13.377164  139.043335  30.076258  3572.659912  11786.429688
2020-11-12  13.415795  137.253326  29.045681  3537.010010  11709.589844
2020-11-13  13.256532  136.166672  29.746471  3585.149902  11829.290039

In [18]:
close_prices.head(10)

Date,AAPL,BTC-USD,GLD,JPM,MSFT,NVDA,TSLA,XOM,^GSPC,^IXIC
Date,,,,,,,,,,
2020-11-09,113.341728,15332.315430,175.080002,102.670204,209.397888,13.589267,140.419998,29.729980,3550.500000,11713.780273
2020-11-10,113.000687,15290.902344,175.660004,102.336464,202.321716,12.731138,136.786667,30.389557,3545.530029,11553.860352
2020-11-11,116.430550,15701.339844,174.899994,100.808258,207.633652,13.377164,139.043335,30.076258,3572.659912,11786.429688
2020-11-12,116.157745,16276.343750,175.960007,99.569908,206.569351,13.415795,137.253326,29.045681,3537.010010,11709.589844
2020-11-13,116.206467,16317.808594,177.160004,100.193474,207.595306,13.256532,136.166672,29.746471,3585.149902,11829.290039
2020-11-16,117.219841,16716.111328,177.149994,103.021515,208.285645,13.474118,136.029999,31.461346,3626.909912,11924.129883
2020-11-17,116.333153,17645.406250,176.500000,101.976387,205.629700,13.381400,147.203339,31.881813,3609.530029,11899.339844
2020-11-18,115.007950,17804.005859,175.490005,101.221054,202.918732,13.387882,162.213333,30.678110,3567.790039,11801.599609
2020-11-19,115.602348,17817.089844,175.160004,101.493324,204.206940,13.399346,166.423340,30.834764,3581.870117,11904.709961
2020-11-20,114.335617,18621.314453,175.690002,100.623840,202.255447,13.047921,163.203339,30.455505,3557.540039,11854.969727